{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title %} - Profile{% endblock %}

{% block content %}

<form method="post" action="{% url 'profile' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.mfa_enabled.label_tag }}</td>
    <td>{{ form.mfa_enabled }}</td>
</tr>
</table>
<input type="submit" value="Save">
</form>

<canvas id="qr"></canvas>

<script src="{% static 'js/qrious.min.js' %}"></script>
<script>
(function() {
  let secretUrl = "{{ secret_url }}";
  if (secretUrl) {
    let element = document.getElementById('qr');
    console.log(element.style);
    element.style.display = "initial";

    let qr = new QRious({
      element: element,
      value: secretUrl,
      background: "#eee"
    });
  }
})();
</script>

{% endblock %}
